* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #fff;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
    
    h2 {
        text-align: right;
        clear: left;
        text-decoration: underline;
        color: #524656;
        font-family: 
    }
    
    img {
        border-radius: 75%;

    }
    img.header {
        float: left;
        text-align: left;
     border-radius: 75%;
        margin-top: -20px;

    }
    img.nav {
        padding: 5px;
        text-align: center;
        margin: 10px 0px 10px 0px;
    }
    

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  background: #fff;
  padding: 20px;
    text-align: center;
}

/* Style the list inside the menu */
ul.nav {
  list-style-type: none;
  padding: 0;
}
    
    li {
        display: inline; 
        padding-right: 20px;
        padding-left: 20px;
        margin-right: 5px;
        margin-left: 5px;
        border: 2px solid #524656;
        border-radius: 5px;
        background-color: #524656;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    a:visited {
        color: #A7C5BD;
    }
    
    a:hover {
        color:#A7C5BD;
    }
    
    a {
        color: #fff;
    }

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #524656;
    margin-bottom: 10px;
    padding-top: 5px;
}
    
    p.article {
        color: #fff;
    }
    
    h1.article {
        color: #A7C5BD;
        padding-bottom: 8px;
        border-bottom: 1px dashed white;

    }

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #A7C5BD;
  padding: 10px;
  text-align: center;
  color: white;
    margin-top: 15px;
    height: 50px;
}
    div.bar {
        float: left;
        width: 100%;
        text-align: center;
        background-color: #CF4647;
        height: 50px;
        color: white;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}